@use '@/styles/_develop/_all.scss' as *;

:root {
  --typo-font-base: 'Zen Kaku Gothic New', 'Helvetica Neue', arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', meiryo,
    sans-serif;

  // --typo-font-base: "Noto Sans JP", "Helvetica Neue", arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;

  --typo-size-base: 1rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --line-height-base: 1.75;

  // --line-height-primary: 1.7;
  // --line-height-secondary: 2;

  --letter-spacing-base: 0.05em;
}
