@use "sass:map";

$breakpoints: (
  xs: 0,
  sm: 36em,
  md: 48em,
  lg: 62em,
  xl: 80em,
  xxl: 90em,
) !default;

@function get-breakpoint($name) {
  $min: map.get($breakpoints, $name);

  @return if($min != 0, $min, null);
}

@mixin media-query($name) {
  $min: get-breakpoint($name);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
