---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import { Today } from '@/components/Date/Today';
import { InputArea } from '@/blocks/InputArea';
import { ViewArea } from '@/blocks/ViewArea';
---

<Layout>
  <Header />
  <main class="main">
    <div class="inner">
      <div>
        <Today />
        <InputArea client:load />
      </div>
      <div>
        <Today />
        <ViewArea client:load />
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  @use '@/styles/_develop/_all.scss' as *;
  @use '@/styles/_design/_all.scss' as *;

  .main {
    padding: rem(80) rem(48);
  }
  .inner {
    display: flex;
    gap: rem(48);
    max-width: rem(1200);
    margin: 0 auto;
  }
</style>
