---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import { Today } from '@/components/Date/Today';
import { InputArea } from '@/blocks/InputArea';
import { ViewArea } from '@/blocks/ViewArea';
---

<Layout>
  <Header />
  <main>
    <div>
      <div>
        <Today />
        <InputArea client:load />
      </div>
      <div>
        <Today />
        <ViewArea client:load />
      </div>
    </div>
  </main>
</Layout>
