---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import { InputArea } from '@/blocks/InputArea';
import { ViewArea } from '@/blocks/ViewArea';
---

<Layout>
  <Header />
  <main class="responsive">
    <div class="grid">
      <div class="s6 padding">
        <InputArea />
      </div>
      <div class="s6 padding">
        <ViewArea />
      </div>
    </div>
  </main>
</Layout>

<script>
  import 'beercss';
</script>
