<header>
  <header>
    <nav>
      <h1 class="header_title">日報</h1>
    </nav>
  </header>
</header>

<style lang="scss">
  @use '@/styles/_develop/_all.scss' as *;
  @use '@/styles/_design/_all.scss' as *;

  .header_title {
    font-size: rem(20);
    text-align: center;
    color: var(--color-white);
    background: var(--color-black);
  }
</style>
